@import url("https://fonts.googleapis.com/css2family-Poppins&family-Roboto&display=swap");

*{
    font: normal none 1em Georgia, Didot, New Century Schoolbook, TeX Gyre Schola, serif;
}

body{
	background-color: #00236D;
}

.container{
	background-color: #002D8E;
	margin: 0 auto;
}

.container .heading{
    text-align: center;
    font-size: 30px;
    padding: 20px;
    margin-bottom: 20px;
}

.container .accordion-wrapper {
    padding: 0 20px;
}

.container .accordion {
    margin-bottom: 20px;
    cursor: pointer;
}

.container .accordion.active .accordion-heading{
    background: #3e57d0;
    color: #fff;
}

.container .accordion.active .accordion-heading i{
    color: #fff;
    transform: rotate(180deg);
    transition: transform 0.2s 0.1s;
}

.container .accordion.active .accordion-content{
    display: block;
}

.container .accordion-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: #fff;
    border: 2px solid #333;
    padding: 15px 20px;
}

.container .accordion-heading h3{
    font-size: 20px;
}

.container .accordion-content{
    padding: 15px 20px;
    border: 2px solid #333;
    font-size: 15px;
    background: #fff;
    border-top: 0;
    display: none;
    animation: animate 0.2s linear backwards;
    line-height: 2;
    transform-origin: top;
}

@keyframes animate{
    0%{
        transform: scaleY(0);
    }
}